---
import { getCollection } from 'astro:content';
import SectionHeading from '../components/SectionHeading.astro';
import SignupForm from '../components/SignupForm.svelte';
import WorksNumber from '../components/WorksNumber.astro';
import Layout from '../layouts/Layout.astro';

// get all the faqs
const faqs = await getCollection('faqs');
---

<Layout title="Monthly JS _ 1 FREE JavaScript Challenge Each Month">
	<SignupForm />

	<!-- how it works -->
	<SectionHeading title="How It Works" />
	<div class="grid grid-cols-3 gap-x-5 mb-[200px] justify-items-center">
		<WorksNumber number="1" heading="each month, you’ll get a javascript challenge">
			<p>Each challenge includes:</p>
			<ul class="list-disc pl-5">
				<li>All the assets you need to get started, including a Figma design file (if you don't have a Figma account, don't worry it's FREE)</li>
				<li>A brief on how to get started, with ideas to test yourself, and FAQs.</li>
			</ul>
		</WorksNumber>

		<WorksNumber number="2" heading="complete the challenge">
			<p>Complete the challenge on your own, or refer to the (paid) tutorial and final coded solution.</p>
		</WorksNumber>

		<WorksNumber number="3" heading="share your success">
			<p>When you’re finished call you mom! Tweet about it! Stick your code on GitHub. Post a picture on Instagram. Talk about it on Facebook. Use the hashtag <strong>#monthlycss</strong>.</p>
		</WorksNumber>
	</div>

	<!--  -->
	<div class="page grid grid-cols-2 gap-x-32 mb-72">

	</div>

	<!-- faqs -->
	<SectionHeading title="Frequently Asked Questions" />
	<div class="page grid grid-cols-2 gap-x-32 mb-72">
		{faqs && faqs.map(faq => (
			<div class="mb-14">
				<h3 class="text-base uppercase font-wide mb-3">{faq.data.question}</h3>
				<p>{faq.body}</p>
			</div>
		))}
	</div>

</Layout>