<form name="register" method="POST" data-netlify="true" class="page w-full flex gap-x-10 pb-[340px]">
  <input type="hidden" name="form-name" value="Register">

  <div class="field">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" id="firstName" required />
  </div>

  <div class="field">
    <label for="email">Email Address</label>
    <input type="text" name="email" id="email" required />
  </div>

  <div class="field flex items-end">
    <button type="submit" class="mt-auto w-full border-2 border-white hover:border-hotMagenta hover:bg-hotMagenta h-16 font-wide uppercase tracking-widening">Sign me up for <span class="text-hotMagenta">FREE</span></button>
  </div>
</form>

<style>
  .field {
    @apply flex-1
  }

  label {
    @apply block uppercase font-wide mb-4 text-base tracking-widening;
  }

  input[type="text"],
  input[type="email"] {
    @apply px-6 bg-transparent border-2 border-white h-16 w-full focus:border-hotMagenta outline-none text-xl;
  }

  button:hover span {
    @apply text-black;
  }
</style>