---
import "../styles/globals.css";
import Footer from "../components/Footer.astro";

export interface Props {
	title: string;
}

const { title } = Astro.props;

const getCurrentMonth = () => {
	const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
	const d = new Date();
	return month[d.getMonth()];
}

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="text-center">
			<div class="relative pt-1 mb-4 text-sm md:text-base md:mb-0 md:absolute md:right-3 md:top-2 uppercase font-wide">
				<a href="https://store.selfteach.me/login" rel="noopener noreferrer" target="_blank" class="hover:text-hotMagenta">Login</a>
			</div>

			<!-- scroll down arrow -->
			<div class="hidden text-center w-full absolute top-0 bottom-6 xl:flex items-end min-h-[900px] pointer-events-none"><img src="/images/arrow.svg" alt="Down Arrow" class="mx-auto" /></div>

			<!-- background video -->
			<video autoplay muted loop id="backgroundVid" class="absolute inset-0 min-w-full min-h-[500px] lg:min-h-screen z-50 mix-blend-screen pointer-events-none">
				<source src="/video/bg-video.mp4" type="video/mp4">
			</video>

			<div class="bg-white text-black font-wide text-sm w-full md:w-auto md:text-base uppercase tracking-widening inline-block px-5 py-1 mb-5">
				<div class="block md:inline">1 <span class="text-hotMagenta">FREE</span> CHALLENGE</div>
				<div class="block md:inline">EACH MONTH</div>
			</div>

			<div class="font-wide text-hotMagenta uppercase text-2xl tracking-widening mb-20 lg:mb-5 relative">Monthly Javascript</div>

			<div class="relative text-center mb-40 lg:mb-16">
				<div class="font-wide text-[27vw] text-eerieBlack leading-none">2023</div>
				<div class="absolute left-0 top-1/2 right-0 text-[5vw] lg:text-[100px] leading-none -translate-y-1/2 text-white font-wide uppercase">{getCurrentMonth()}</div>
			</div>
		</header>
		<main class="relative">
			<slot />
		</main>
		<Footer />
	</body>
</html>